<header>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark" data-toggle="affix">
    <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
      <a class="navbar-brand" href="#">
        <img src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        GlassWall
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-center" id="navbarsExample11">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#about">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#contact">Contato</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="banner-area">
    <div class="banner-inner">
      <div class="banner-overly"></div>
      <div class="column">
        <div class="banner-content">
          <h1 class="title is-3 is-size-4-mobile has-text-white has-text-centered">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <p class="text-white text-center lead">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eleifend lectus id eros imperdiet euismod.
                  </p>
                  <br/>
                </div>
                <div class="carousel-item">
                  <p class="text-white text-center lead">
                    Aliquam at sagittis nunc. Aliquam eget egestas lorem. Praesent in felis cursus, sodales ligula sed, ullamcorper diam.
                  </p>
                  <br/>
                </div>
                <div class="carousel-item">
                  <p class="text-white text-center lead">
                    Phasellus congue massa eget metus condimentum egestas. Sed placerat ultricies auctor. Suspendisse commodo iaculis enim.
                  </p>
                  <br/>
                </div>
              </div>
            </div>
          </h1>
        </div>
      </div>
    </div>
  </div>
</header>